<!-- ページのタイトルを提供（ユーザー名を含める）-->
<% provide(:title, @user.name) %>
<!-- ユーザー情報を表示するためのテーブル -->
<div>
  <table class="table table-bordered table-condensed user-table"  id="table-attendance">
    <tr>
        <td>
        <!-- 前月へのリンク -->
        <%= link_to "⇦ 前月へ", user_path(date: @first_day.prev_month), class: "btn btn-primary" %>
         &emsp; 【<%= l(@first_day,format: :middle) %>】時間管理表 &emsp;
        <!-- 次月へのリンク -->
        <%= link_to "次月へ ⇨", user_path(date: @first_day.next_month), class: "btn btn-primary" %>
        </td>
        <td>指定勤務時間：<%= format_basic_info(@user.work_time) %></td>
        <td colspan="3">基本時間：<%= format_basic_info(@user.basic_time) %></td>
        <td colspan="2">月初日：<%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td>所属：<%= @user.department.present? ? @user.department : "未所属" %></td>
      <td>名前：<%= @user.name %></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>月末日：<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>
<!-- ボタン類を表示する部分 -->
<div class="btn-users-show">
  <!-- 勤怠を編集するリンク -->
  <%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary"%>
  <!-- CSV出力リンク -->
  <%= link_to 'CSV出力', user_path(format: :csv), class: "btn btn-primary" %><br>
  <!-- 勤怠修正ログ(承認済)リンク -->
  <%= link_to '勤怠修正ログ(承認済)', attendance_log_user_path(@user), remote: true, class: "btn btn-primary" %>
</div>
<!-- 勤怠データを表示するためのテーブル -->
<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th colspan = "3"></th>
        <th colspan = "8">実績</th>
        <th colspan = "5">所定外業務</th>
      </tr>
      <tr>
        <!--rowspan:縦に連結, colspan:横に連結-->
        <th rowspan = "2">残業申請</th>
        <th rowspan = "2">日付</th>
        <th rowspan = "2">曜日</th>
        <th colspan = "3">出社</th>
        <th colspan = "3">退社</th>
        <th rowspan = "2">在社時間</th>
        <th rowspan = "2">備考</th>
        <th colspan = "2">終了予定時間</th>
        <th rowspan = "2">時間外時間</th>
        <th rowspan = "2">業務処理内容</th>
        <th rowspan = "2">指示者確認(印)</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th>出勤登録</th>
        <th>時</th>
        <th>分</th>
        <th>退勤登録</th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>

    <tbody>
      <!-- 勤怠データを繰り返し表示 -->
      <% @attendances.each do |day| %>

      <tr>
        <!-- 勤務日付 -->
        <td><%= l(day.worked_on, format: :short) %></td>
        <!-- 曜日 -->
        <td class ="<%= "wday#[day.worked_on.wday]" %>"><%= $days_of_the_week[day.worked_on.wday] %></td>
        <!-- 出社時刻（時） -->
        <td><%= day.started_at.floor_to(15.minutes).hour if day.started_at.present? %></td>
        <!-- 出社時刻（分） -->
        <td><%= day.started_at.floor_to(15.minutes).min if day.started_at.present? %></td>
        <!-- 出社ボタン（当日でかつ未出社） -->
        <td>
          <% if (Date.current == day.worked_on) && day.started_at.nil? %>
            <%= link_to "出社", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
          <% end %>
        </td>
        <!-- 退社時刻（時） -->
        <td><%= day.finished_at.floor_to(15.minutes).hour if day.finished_at.present? %></td>
        <!-- 退社時刻（分） -->
        <td><%= day.finished_at.floor_to(15.minutes).min if day.finished_at.present? %></td>
        <!-- 退社ボタン（当日でかつ出社済みで未退社） -->
        <td>
          <% if (Date.current == day.worked_on) && day.started_at.present? && day.finished_at.nil? %>
            <%= link_to "退社", user_attendance_path(@user,day), method: :patch, class:"btn btn-primary btn-attendance" %>
          <% end %>
        </td>
        <!-- 在社時間計算（出社と退社が共に存在する場合のみ） -->
        <td>
          <% if day.started_at.present? && day.finished_at.present? %>
            <%= str_times = working_times(day.started_at.floor_to(15.minutes), day.finished_at.floor_to(15.minutes)) %>
            <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
          <% end %>
        </td>
        <!-- 備考欄 -->
        <td><%= day.note %></td>
      </tr>
      <% end %>
    </tbody>

    <!-- 合計行 -->
    <tfoot>
      <!--rowspan:縦連結, colspan: 横連結-->
      <tr>
        <td colspan="2">累計日数</td>
        <td colspan="6">総合勤務時間</td>
        <td colspan="2">累計在社時間</td>
      </tr>
      <tr>
        <td colspan="2"><%= @attendances.count %></td>
        <td colspan="6"><%= format_basic_info(@user.work_time).to_f * @worked_sum %></td>
        <td colspan="2"><%= format("%.2f", @total_working_times.to_f) %></td>
      </tr>
    </tfoot>
    </table>
</div>
</div>

<!--モーダルウインドウ表示-->

<div id="attendance-log" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>